.container {
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
}

.infected {
  border-bottom: 10px solid #b2a429;
  background: #ffeb3b;
}

.recovered {
  border-bottom: 10px solid #1769aa;
  background: #2196f3;
}

.deaths {
  border-bottom: 10px solid #ab003c;
  background: #f50057;
}

@media (max-width: 770px) {
  .container {
    margin: 14% 4% !important;
  }
}
